<section id="intro" class="sub_main">
	<article class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">사이트 소개</h3>
		</div>
		<p class="panel-body">평소에도 KB의 불친절에 이를 갈던 천재 바로 아래의 웹프로그래머 <%=link_to '잠자는-사자','http://www.sleepinglion.pe.kr',{:target=>'_blank'} %>가 제대로된 
			안티 사이트가 없음을 의아하게 여기고 제작하기 시작한 사이트로서 KB를 망하게 하는데 그목적이 있습니다. 
공공의 적 KB가 망하는 그날까지 이 사이트는 계속될것 입니다.
		</p>		
	</article>
	<article class="jumbotron hero-unit">
잠자는 사자의 한마디 <blockquote>이 사이트에서는 "국민은행"이라는 단어를 사용하지 않습니다.
<br />국민을 죽이는 살인자 은행이 감히 "국민은행"이라는 이름을 쓴다는것에 심한 분노를 느끼지 않을수 없습니다.<br />
이 사이트에서는 국문으로 "살인자 은행", 영어로 KB(Killer Bank) 통칭합니다.
</blockquote>
	</article>
	<article class="panel panel-default">
		<div class="panel-heading">		
			<h3 class="panel-title">본 사이트는 소수 사용자의 사용성 향상을 위해 노력합니다.</h3>
		</div>
		<div class="panel-body">
			<ol>
				<li>IE가 아닌 환경에서도 사용 가능한 사이트</li>
				<li>자바스크립트 없이도 사용 가능한 사이트</li>
				<li>CSS 없이도 사용 가능한 사이트</li>
				<li>저 해상도에서도 사용 가능한 사이트</li>
				<li>이미지 없이도 사용 가능한 사이트</li>
				<li>저 컬러에서도 같은 색상으로 표현 되는 사이트</li>
				<li>저용량으로 빠르게 반응하는 사이트</li>
			</ol>
			<%=image_tag 'rails.png',:alt=>"Ruby on Rails" %>			
		</div>
	</article>
	<%= render :partial => 'layouts/ad' %>		
</section>