<footer>
	<div class="container">
		<div class="row">
			<ul class="col-xs-12">
				<li class="col-xs-6 col-sm-4"><%= link_to t(:intro,scope:[:activerecord,:models]),intro_index_path %></li>
				<li class="hidden-xs col-sm-4">email:<%=mail_to 'admin@anti-kb.net' %></li>
				<li class="col-xs-6 col-sm-4"><%= link_to t(:sitemap,scope:[:activerecord,:models]),sitemap_index_path %></li>
			</ul>
			<address class="col-xs-12">CopyLeft, <%=link_to 'SL','http://wwww.sleepinglion.pe.kr',:target=>'_blank' %>. All wrongs reserved. Since 2013</address>
		</div>
	</div>
</footer>
