<footer>
	<ul>
		<li><%= link_to('사이트 소개',intro_index_path) %></li>
		<li><%= link_to('개선사항 제안',new_improve_path) %></li>
		<li>email:<%=mail_to 'admin@anti-kb.kr' %></li>
		<li><%= link_to('사이트맵',sitemap_index_path) %></li>
	</ul>
</footer>