<% unless current_page?(root_path) %>
<div class="col-xs-12">
	<div class="alert alert-success">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<!-- <h4><%=t(:success_title)%></h4> -->
		<p id="notice"><%= notice %></p>
	</div>
</div>
<% end %>
